body {
    font-family: Roboto Mono;
    background-color: #ffffff;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 97vw;
    height: 97vh;
}

button {
    height: 70px;
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    background-color: #d8007e;
    color: #fff;
    font-family: Roboto Mono;
    transition: 350ms;
}

button:disabled {
    cursor: not-allowed;
    background-color: #9c9c9c;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.timer {
    font-size: 10vh;
    margin: 0px;
}

#userName{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    transition: 350ms;
}

#userName:hover{
    transition: 350ms;
    color: #d8007e;
}